---
const today = new Date();
---

<footer class="bg-white/40 backdrop-blur-lg border-t border-white/20 py-12 mt-12 relative z-10">
    <div class="container mx-auto px-6 max-w-6xl text-center">
        <p class="text-xs text-slate-400">&copy; {today.getFullYear()} Laterno. All Rights Reserved</p>
        <p class="text-xs text-slate-400">Powered by 
            <a href="https://astro.build/" class="text-cyan-600">Astro</a>
            &
            <a href="https://github.com/choco-luo/Laterno" class="text-cyan-600">Laterno</a>
        </p>
    </div>
</footer>
